<main class="p-5">
    <h1>Hello!
        <i class="bi bi-alarm"></i>
        <i class="fa-solid fa-star fa-bounce" style="color: #c7ac23;"></i>
    </h1>
    <button class="btn btn-danger">
        <i class=" bi bi-activity"></i>
    </button>
    <button class="btn btn-warning">
        <i class=" bi bi-activity"></i>
    </button>
    <div>
        <i class="fa-solid fa-star" style="color: #c7ac23;"></i>
    </div>
    <div>
        <img src="/svg/star.svg">
    </div>
</main>