<main class="p-5">
    <h1>Hello world!</h1>
    <h2>WOW</h2>
    <style>
        h2 {
            color: green;
        }
    </style>

    <div style="color: red; background: black">This is text</div>
</main>