<div class="card">
    {{#with navigation}}
    <div class="nav">
        {{#each links}}
        <div class="nav-item">
            <a href={{href}} class="nav-link {{#if @last}} disabled {{/if}}">{{text}}</a>
        </div>
        {{/each}}
    </div>
    {{/with}}
</div>